<!-- <ul>
	<li *ngFor="let clase of arrClases">
		{{clase.nombre}}
	</li>
</ul> -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4" ></div>
    <div class="col-12 col-md-8" *ngFor="let clase of arrClases">
      <div class="mx-auto">
        <mat-card class="example-card mx-auto mt-3 mb-3">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{clase.nombreclase}} en <i class="map marker alternate icon"></i>Alcala de Henares  </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem doloribus, odio doloremque, mollitia fugiat tempore quisquam! Ducimus voluptatem dicta, fuga sapiente illo mollitia alias, ipsum est perspiciatis eaque sunt?
           </p>
         </mat-card-content>
         <mat-card-actions>
          <div class="row">
            <div class="text-center col-12 col-xl-5 mb-2">
             <button class="ui inverted red button"><i class="red phone square icon"></i> Contactar</button>
             <button class="ui inverted red button">Ficha Profesor</button>
           </div>
           <div class="text-center text-md-left text-xl-right col-12 col-md-6 col-xl-3 mb-2">
             <div class="ui labeled button" tabindex="0">
              <div class="ui red button">
                <i class="star icon"></i>Puntos
              </div>
              <a class="ui basic red left pointing label">
               3.5
             </a>
           </div>
         </div>
         <div class=" text-center text-md-right text-xl-right col-12 col-md-6 col-xl-4">
           <i class="red big share square link icon"></i>
           <i class="red big car icon"></i>
           <i class="red big building icon"></i>
           <i class="red big cc paypal volume icon"></i>
         </div>
       </div>
     </mat-card-actions>
   </mat-card>
 </div>
</div>
</div>
</div>








