.color{
	background-color: rgba( 22,33,12, 0);
	border: 0;
	color: rgba(0,0,0,.54);
}
hr{
	height: 1px ;
	background-color: rgba(0, 0, 0, .42);
	border: 0 !important;
}
select{
	text-decoration: none;
	outline: none;
}

