<div class="row">
	<div class="col-12 col-md-4">
		<h5 class="p-5 text-middle text-center">COPYRIGHT @ 2018</h5>
	</div>
	<div class="col-12 col-md-4"></div>
	<div class="col-12 col-md-4 p-5 text-center">
		<a href="mailto:clasesparticulares@clasesparticulares.com"><i  class="mr-3 big mail icon"></i></a><i (click)="handlePhone()"  class="mr-3 big phone icon"></i> <a href="http://www.facebook.com"><i class="mr-3 big facebook icon"></i></a><i (click)="handlePaypal()" class="mr-3 big cc paypal icon"></i>
</div>
</div>

