.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.colorpuntos{
	background-color: #bdc3c7;
}
.colorestrella{
	color: #ff695e;
}
.coloriconos{
	color: #545454;
}
.colorfondo{
	background-color: #bdc3c7;
}