<div class="container">
  <div class="row colorfondo">
    <mat-card class="col-11 bg-light mx-auto mt-3 mb-3 text-center arrVacio"><h3 *ngIf="!arrVacio">Clases publicadas </h3><h3 *ngIf="arrVacio">No hay clases añadidas </h3></mat-card>
    <div class="col-12 col-md-9 mx-auto" *ngFor="let clase of arrClases">
      <div class="mx-auto">
        <mat-card class="example-card mx-auto bg-light mt-3 mb-3">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{clase.nombreclase}} en <i class="map marker alternate icon"></i>{{clase.ciudad}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
             {{clase.descripcion}}
           </p>
         </mat-card-content>
         <mat-card-actions>
          <div class="row">
           <div class="text-center text-md-left  col-12 col-md-6 col-xl-4 mb-2">
             <div class="ui labeled button" tabindex="0">
              <div class="ui  button colorpuntos">
                <i class="star icon colorestrella"></i>Puntos
              </div>
              <a class="ui basic coloriconos left pointing label">
               3.5
             </a>
           </div>
         </div>
         <div class="col-4">
         <button (click)="handleEliminar(clase.id)" class="ui inverted secondary button fluid">Eliminar</button>
         </div>
         <div class=" text-right text-md-right text-xl-right col-12 col-md-6 col-xl-4">
          
           <!-- <i class="coloriconos big share square link icon"></i> -->
           <i *ngIf="clase.claseout" class=" big car icon coloriconos" title="Clase a domicilio"></i>
           <i *ngIf="clase.clasein" class=" big building icon coloriconos" title="Clase en domicilio del profesor"></i>
           <!-- <i *ngIf="pagoOnline()" class="red big cc paypal volume icon"></i> -->
         </div>
       </div>
     </mat-card-actions>
   </mat-card>
 </div>
</div>
</div>
</div>
