<nav class="navbar navbar-dark  p-3">
	<a class="navbar-brand" href="#">
		<img src="../../assets/logo.png" width="60" height="50" alt="">
	</a>
	<div class="text-right">
		<a class="navbar-brand m-0 p-2 border-right" [routerLink]="['/login']">Identifícate</a>
		<a class="navbar-brand m-0 p-2 border-left" [routerLink]="['/signin']">Regístrate</a>
	</div>
	<div class="ui dropdown">
		
		<div class="ui top right pointing dropdown " [matMenuTriggerFor]="menu">
			Perfil
			<i class="inverted large bars icon" ></i>
			<mat-menu #menu="matMenu">
				<div class="item text-center">
					<h5>Hola Usuario</h5>
				</div>
				<hr>
				<div [routerLink]="['/perfil']" class="item" mat-menu-item>
					<i class="user icon"></i>
					Mi cuenta
				</div>
				<div class="item" mat-menu-item>
					<i class="book icon"></i>
					Mis clases
				</div>
				<div class="item" mat-menu-item>
					<i class="sign-out icon"></i>
					Cerrar sesión
				</div>
			</mat-menu>
		</div>
	</div>
</nav>

