<div class="container-fluid p-4">
	<div class="row p-3 ">	
		<form class="p-4 bg-light mx-auto col-12 col-md-6" 
		[formGroup]="formModificar"
		(ngSubmit)="envioRegistro()">
		<mat-form-field class="p-1 col-12">
			<input matInput placeholder="Nombre*" formControlName="nombre">
		</mat-form-field>
		<mat-form-field class="p-1 col-12">
			<input matInput placeholder="Apellidos*" formControlName="apellidos">
		</mat-form-field>
		<mat-form-field class="p-1 col-12">
			<input  matInput placeholder="Email*" formControlName="email">
			<mat-error>Email inválido</mat-error>
		</mat-form-field>
		<app-p-select [ciudadP]="ciudad" [provinciaP]="provincia" (envioProv)="handleEnvioProv($event)" (envioMun)="handleEnvioMun($event)"></app-p-select>
		<mat-form-field class="p-1 col-12" hintLabel="Entre 6 y 20 caracteres,incluir número y letra">
			<input matInput placeholder="Contraseña*" [type]="hide ? 'password' : 'text'" formControlName="contrasena">
		</mat-form-field>
		<mat-form-field class="p-1 col-12">
			<input  matInput placeholder="Confirmar contraseña*" [type]="hide ? 'password' : 'text'" formControlName="confirmarContrasena">

		</mat-form-field>
		<mat-checkbox (change)="hide = !hide" class="pr-5" color="primary">Mostrar contraseña</mat-checkbox>
		<mat-form-field class="p-1 col-12">
			<input matInput placeholder="Teléfono*" formControlName="telefono">
			<i matSuffix class="phone icon"></i>
		</mat-form-field>
		<mat-form-field class="p-1 col-12">
			<input matInput placeholder="Foto (opcional)" formControlName="foto">
		</mat-form-field>
		<mat-form-field  *ngIf="checked" class="p-1 col-12">
			<textarea matInput placeholder="Biografía (opcional)" formControlName="biografia"></textarea>
		</mat-form-field>
		<button class="ui inverted red button" [disabled]="!formModificar.valid">Guardar Cambios</button>
		<p *ngIf="formModificar.errors && formModificar.controls.confirmarContrasena.touched" class="colorError">La contraseña debe coincidir</p>
		<p class="colorError">{{mensajeError}}</p>
		{{mensajeError | json}}
		</form>
	</div>
</div>
